<div class="main">
  <p class="devise-title">アカウントを作成</p>
  <div class="devise-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname, "ニックネーム" %><em>(8文字まで)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "8", class:"short-box" %>
      </div>

      <div class="field">
        <%= f.label :firstname, "名字" %><br />
        <%= f.text_field :firstname, class:"short-box" %>
      </div>

      <div class="field">
        <%= f.label :lastname, "名前" %><br />
        <%= f.text_field :lastname, class:"short-box" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"long-box" %>
      </div>

      <div class="icon-field">
        <div>
          <%= f.label :icon, "アイコン" %><br />
          <%= f.file_field :icon ,id:"user-icon" %>
        </div>
        <div class="icon-preview", id="icon-preview">
        </div>
      </div>

      <% if @sns_id.present? %>
        <%= hidden_field_tag :sns_auth, true %>
      <% else %>
        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"short-box" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "確認用パスワード" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"short-box" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "登録", class:"devise-btn" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
