<div class="main">
  <p class="title">＜設定＞</p>
  <div class="setting">
    <div class="setting-nickname">
      <%= "ユーザー名:#{@user.nickname}" %>
    </div>
    <div class="setting-email">
      <%= "email:#{@user.email}" %>
    </div>
    <div class="setting-icon">
      <%= image_tag @user.icon.variant(resize: '280x280') unless @user.icon.blank? %>
    </div>
    <div class="setting-introduce">
      <h1>紹介:</h1>
      <%= @user.introduce %>
    </div>
  </div>
  <%= link_to "編集",edit_user_registration_path(current_user.id) %>
</div>