<div class="main">
  <p class="cart-title">＜カートのなか＞</p>
  <div class="cart-pictures">
    <% @line_items.each do |line_item|%>
      <div class="select-image">
        <div class="picture-box">
          <%= image_tag line_item.image.picture, class:"cart-image-picture" %>
        </div>
        <div class="image-data">
          <div class="top-data">
            <div class="image-user">
              <%= image_tag line_item.image.user.icon, class:"usericon" %>
              <%= line_item.image.user.nickname %>
            </div>
            <div>
              <%= "シーズン：#{line_item.image.season.name}"%>
            </div>
          </div>
          <div class="bottom-data">
            <div>
              <%if line_item.image.tags.exists?%>
                <% line_item.image.tags.each do |tag|%>
                  <%= "##{tag.name}" %>
                <% end%>
              <% end %>
            </div>
            <div class="delete-btn">
              <%= link_to "削除", line_item_path(line_item.id), method: :delete, class:"imagecal-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="cart-menu">
    <div class="cart-bottom-menu">
      <div class="cart-menu-box">
        <div class="imagecal-btn">
          <%= link_to "トップに戻る", root_path, class:"imagecal-link" %>
        </div>
        <div class="imagecal-btn">
          <%= link_to "カートを空にする", cart_path(@current_cart.id), method: :delete, class:"imagecal-link" %>
        </div>
        <% if @current_cart.images.length == 12%>
          <div class="imagecal-btn">
            <%= link_to "プレビューページ", new_calendar_path, class:"imagecal-link" %>
          </div>
        <% end %>
      </div>
      <div class="images-count">
        <%= "合計：　#{@current_cart.images.length}個" %>
      </div>
    </div>
  <div>
</div>