カートの中身

<% @line_items.each do |line_item|%>
<div class="select-image">
  <%= image_tag line_item.image.picture.variant(resize: '330x220') %>
  <%= line_item.image.user.nickname %>
  <% line_item.image.tags.each do |tag|%>
    <%= "##{tag.name}" %>
  <% end%>
  <%= line_item.image.season.name%>
  <%= link_to "削除", line_item_path(line_item.id), method: :delete %>
</div>
<% end %>

<%= link_to "トップに戻る", root_path%>
<%= link_to "購入へ", new_order_path %>
<%= link_to "カートの中を空にする", cart_path(@current_cart.id), method: :delete %>

<% if @current_cart.images.length == 12%>
  <%= link_to "プレビューページ", new_calendar_path %>
<% end %>