カートの中身

<% @line_items.each do |line_item|%>
<div class="select-image">
  <%= image_tag line_item.image.picture.variant(resize: '330x220') %>
  <%= line_item.image.user.nickname %>
  <% line_item.image.tags.each do |tag|%>
    <%= "##{tag.name}" %>
  <% end%>
  <%= line_item.image.season.name%>
</div>
<% end %>

<%= link_to "トップに戻る", root_path%>
<%= link_to "購入へ", new_order_path %>