<%= form_with model: @image, url: images_path, local: true do |f| %>
<div class="form">
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="picture-form">
    <%= f.label :picture, "イラスト" %>
    <%= f.file_field :picture, id: "image_picture" %>
    <div id="picture-preview"></div>
  </div>
  <div class="comment-form">
    <%= f.label :comment, "投稿者コメント" %><br />
    <%= f.text_area :comment, placeholder: "投稿者コメント欄", rows: "5", class:"comment-box"%>
  </div>
  <div class="season-form">
    <%= f.label :season_id, "イラストの季節・月" %>
    <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"season-select"}) %>
  </div>
  <div class="tag-form">
    <%= f.label :name, "タグ" %><br />
    <%= f.text_field :name, placeholder: "ex) イラスト,オリジナル,猫シリーズ",class:"tag-box" %>
    <p class="caution">複数タグをつける時は「,(カンマ)」で区切ってください</p>
  </div>
  <div class="submit-form">
    <%= f.submit "SEND", class:"imagecal-btn" %>
  </div>
</div>
<% end %>
