<h1>新着順</h1>
  <div class="picture_posts">
    <% unless @images.nil? %>
      <% @images.each do |image|%>
        <div class="select-image">
          <div class="picture-box">
            <%= link_to (image_tag image.picture, class:"image-picture"), image_path(image.id) %>
          </div>
          <div class="image-data">
            <div class="top-data">
              <div class="image-user">
                <%= link_to (image_tag image.user.icon, class:"usericon"), user_path(image.user.id) %>
                <%= link_to image.user.nickname, user_path(image.user.id), class:"imagecal-link" %>
              </div>
              <div>
                <%= "シーズン：#{image.season.name}"%>
              </div>
            </div>
            <div class="bottom-data">
              <%if image.tags.exists?%>
                <% image.tags.each do |tag|%>
                  <%= "##{tag.name}" %>
                <% end%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <p>検索したタグをつけたイラストはありません</p>
    <% end %>
  </div>