<div class="month-tabs">
  <input type="radio" name="tab_name" id="tab1" checked>
  <label class="tab_class" for="tab1">1月</label>
  <div class="content_class">
    <%= render partial:"jan"%>
  </div>
  <input type="radio" name="tab_name" id="tab2" >
  <label class="tab_class" for="tab2">2月</label>
  <div class="content_class">
    <%= render partial:"feb"%>
  </div>
  <input type="radio" name="tab_name" id="tab3" >
  <label class="tab_class" for="tab3">3月</label>
  <div class="content_class">
    <%= render partial:"mar"%>
  </div>
  <input type="radio" name="tab_name" id="tab4" >
  <label class="tab_class" for="tab4">4月</label>
  <div class="content_class">
    <%= render partial:"apr"%>
  </div>
  <input type="radio" name="tab_name" id="tab5" >
  <label class="tab_class" for="tab5">5月</label>
  <div class="content_class">
    <%= render partial:"may"%>
  </div>
  <input type="radio" name="tab_name" id="tab6" checked>
  <label class="tab_class" for="tab6">6月</label>
  <div class="content_class">
    <%= render partial:"jun"%>
  </div>
  <input type="radio" name="tab_name" id="tab7" >
  <label class="tab_class" for="tab7">7月</label>
  <div class="content_class">
    <%= render partial:"jul"%>
  </div>
  <input type="radio" name="tab_name" id="tab8" >
  <label class="tab_class" for="tab8">8月</label>
  <div class="content_class">
  <%= render partial:"aug"%>
  </div>
  <input type="radio" name="tab_name" id="tab9" >
  <label class="tab_class" for="tab9">9月</label>
  <div class="content_class">
    <%= render partial:"sep"%>
  </div>
  <input type="radio" name="tab_name" id="tab10" >
  <label class="tab_class" for="tab10">10月</label>
  <div class="content_class">
    <%= render partial:"oct"%>
  </div>
  <input type="radio" name="tab_name" id="tab11" checked>
  <label class="tab_class" for="tab11">11月</label>
  <div class="content_class">
    <%= render partial:"nov"%>
  </div>
  <input type="radio" name="tab_name" id="tab12" >
  <label class="tab_class" for="tab12">12月</label>
  <div class="content_class">
    <%= render partial:"dec"%>
  </div>
  <input type="radio" name="tab_name" id="tab13" checked>
  <label class="tab_class" for="tab13">春</label>
  <div class="content_class">
    <%= render partial:"spr"%>
  </div>
  <input type="radio" name="tab_name" id="tab14" >
  <label class="tab_class" for="tab14">夏</label>
  <div class="content_class">
    <%= render partial:"sum"%>
  </div>
  <input type="radio" name="tab_name" id="tab15" >
  <label class="tab_class" for="tab15">秋</label>
  <div class="content_class">
    <%= render partial:"aut"%>
  </div>
  <input type="radio" name="tab_name" id="tab16" >
  <label class="tab_class" for="tab16">冬</label>
  <div class="content_class">
    <%= render partial:"win"%>
  </div>
  <input type="radio" name="tab_name" id="tab17" >
  <label class="tab_class" for="tab17">通年</label>
  <div class="content_class">
    <%= render partial:"all"%>
  </div>
  <input type="radio" name="tab_name" id="tab18" checked>
  <label class="tab_class" for="tab18">その他</label>
  <div class="content_class">
    <%= render partial:"etc"%>
  </div>
</div>