<div class="page">
  <div class= "header">
    <%= link_to "ImageCal", root_path, class:"logo" %>
    <div class="user_button">
      <% if user_signed_in? %>
        <div class="user_btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
        <div class="user_btn">
          <%= current_user.nickname %>
        </div>
      <% else %>
        <div class="user_btn">
          <%= link_to "新規登録", new_user_path%>
        </div>
        <div class="user_btn">
          <%= link_to "ログイン",new_user_session_path %>
        </div>
      <% end %> 
    </div>
  </div>
  <div class= "main">
    <div class="app_info">
      アプリ概要
    </div>
    <%= link_to "投稿", new_image_path, class:"image_post"%>
    実装想定
    <p>①イラスト・写真投稿ページ遷移///ex)pictweet（投稿ページに実装想定記述）</p>
    <p>②画像一覧表示 (いいねランキングや新着順)</p>
    <p>・タグ検索機能///ex)インスタのたぐ</p>
    <p>④マイページへ遷移 devise利用</p>
    <p>____自分の投稿イラスト確認///イラスト・付けたタグ・いいね数がみれる </p>
    <p>____自分が付けたいいねイラスト一覧が見れる///ex）Tweeterのいいね</p>
    <p>____・カート機能///ex)アマゾン。
    <p>_________・カレンダープレビューページへ遷移///ex)写真屋さんのアルバム作成画面</p>
    <p>______________イラストとカレンダータイプそれぞれ選択して合わせるような</p>
    <p>_________・購入ページへ遷移ex)furima</p>
    <p>③ユーザー登録ページへ遷移</p>
    <p>____name/email/password/firstname/lastnameで登録</p>
    <p>____SNS認証も追加予定</p>
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー </p>
    <p>7/28.Todo</p>
    <p>投稿機能追加（タグは未実装）</p>
    <p>投稿一覧表示(新着順・いいね順は後日)</p>
    <p>時間があったら、タグについて学習</p>
  
  <div class="picture_posts">
  <% @images.each do |image| %>
    <div class="content_box">
      <div class="picture_box">
        <%= image_tag image.picture.variant(resize: '300x200')%>
      </div>
      <div class="user_info_box">
        <%= image.user.nickname %>
      </div>
    </div>
  <% end %>
  </div>
  
  </div>
  <div class= "footer"></div>
</div>