<div class="page">
  
  <div class= "main">
    <div class="app_info">
      アプリ概要
    </div>
  <h1>新着順</h1>
  <div class="picture_posts">
    <% @images.each do |image|%>
      <div class="select-image">
        <div class="picture-box">
          <%= link_to (image_tag image.picture, class:"image-picture"), image_path(image.id) %>
        </div>
        <div class="image-data">
          <div class="top-data">
            <div class="image-user">
              <%= link_to (image_tag image.user.icon, class:"usericon" unless.image.user.icon.blank?), user_path(image.user.id) %>
              <%= link_to image.user.nickname, user_path(image.user.id), class:"imagecal-link" %>
            </div>
            <div>
              <%= "シーズン：#{image.season.name}"%>
            </div>
          </div>
          <div class="bottom-data">
            <%if image.tags.exists?%>
              <% image.tags.each do |tag|%>
                <%= "##{tag.name}" %>
              <% end%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
      <div class="bottom-menu">
        <div class="image-post-link">
          <%= link_to (image_tag 'icon_post.png', class:"post-icon"), new_image_path, class:"image_post"%>
          <p>投稿する</p>
        </div>
        <% unless @cart.nil? %>
          <div class="cart-inside">
            <%= link_to (image_tag 'icon_cart.png', class:"cart-icon"), cart_path(@cart.id) %>
            <p>カートを見る</p>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
