<p class="title">イラスト詳細ページ</p>
<div class="main">
  <div class="show">
    <div class="picture-show">
      <%= image_tag @image.picture, class:"show-picture"%>
    </div>
    <div class="picture-data">
      <div class="show-user-data">
        <div class="show-user-icon">
          <%= image_tag @image.user.icon, class:"user-icon-show" %>
        </div>
        <div>
          <%= link_to @image.user.nickname, user_path(@image.user.id), class:"show-user-nickname" %>
        </div>
      </div>
      <p>＜コメント＞</p>
      <div class="show-comment" >
        <%= @image.comment%>
      </div>
      <div class="show-season">
        <%= "＜イラストの季節：　#{@image.season.name}　＞" %>
      </div>
      <div class="show-tag">
        <p>＜タグ＞</p>
        <% @image.tags.each do |tag| %>
          <%= "##{tag.name}　" %>
        <% end %>
      </div>
      <div class="show-post">
        <% if user_signed_in? %>
          <div class="imagecal-btn">
            <%= link_to 'カートに入れる', add_item_path(image_id: @image.id), method: :post, class:"imagecal-link"  %>
          </div>
          <% if current_user.id == @image.user_id%>
            <div class="imagecal-btn">
              <%= link_to 'イラストを削除', image_path(@image.id), method: :delete, class:"imagecal-link"%>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
