<!DOCTYPE html>
<html>
  <head>
    <title>Imagecal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class= "header">
    <%= link_to "ImageCal", root_path, class:"logo" %>
    <div class="user_button">
      <% if user_signed_in? %>
        <div class="user_btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
        <div class="user_btn">
          <%= link_to current_user.nickname, user_path(current_user.id) %>
        </div>
      <% else %>
        <div class="user_btn">
          <%= link_to "新規登録", new_user_path%>
        </div>
        <div class="user_btn">
          <%= link_to "ログイン",new_user_session_path %>
        </div>
      <% end %> 
    </div>
  </div>
    <%= yield %>
  </body>
</html>
